{% extends "base.html" %}

{% block content %}
	<h1>Hello, {{ current_user.username }}!</h1>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.uniqueid.label }}<br>
			{{ form.uniqueid(size=32) }}<br>
			{% for error in form.uniqueid.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			{{ form.title.label }}<br>
			{{ form.title(size=32) }}<br>
			{% for error in form.title.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			{{ form.pubdate.label }}<br>
			{{ form.pubdate(size=10) }}<br>
			{% for error in form.pubdate.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			{{ form.videourl.label }}<br>
			{{ form.videourl(size=64) }}<br>
			{% for error in form.videourl.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			{{ form.description.label }}<br>
			{{ form.description(size=64) }}<br>
			{% for error in form.description.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}

		</p>
		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}
