{% extends "base.html" %}

{% block content %}
	<h1>Hello, {{ current_user.username }}!</h1>
	<form action="" method="post">
		{{ form.hidden_tag() }}
	</form>
	<a href="{{publish_message}}">{{publish_message}}</a>
	{% for post in posts %}
	<p>
	<b>Link</b>: {{ post.videourl }}</b></br>
	<b>Title</b>: {{ post.title }}</b></br>
	<b>Description</b>: {{ post.description }}</b></br>
	<b>UniqueID</b>: {{ post.uniqueid }}</b></br>
	<b>Date</b>: {{ post.pubdate }}</b></br>
	</br>
	</p>
	{% endfor %}
	<form action="/publish/" method="post">
		<button name="publishBtn" type="submit">Publish</button>
	</form>
{% endblock %}
